* {
    padding: 0px;
    margin: 0px;
}

.inclusion-belonging-main-img-container {
    background-color: white;
    height: 400px;
    width: 100%;
}

.inclusion-belonging-main-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.inclusion-belonging-heading-para-container {
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.inclusion-belonging-heading-para-container h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.inclusion-belonging-heading-para-container p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #141414;
    line-height: 27px;
    margin-left: 230px;
    margin-top: 20px;

}

.inclussion-belonging-card-container {
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.ib-card {
    background-color: white;
    height: auto;
    width: 530px;
}

.ib-card h1 {
    background: linear-gradient(to right, green, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 500px;
    border-radius: 20px;
    color: white;
    font-size: 2.1rem;
}

.ib-card p {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 28px;
    margin-top: 10px;
}

.ib-card2 {
    background-color: white;
    height: auto;
    width: 530px;
}

.ib-card2 h1 {
    background: linear-gradient(to right, #7846a6, #693434);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 500px;
    border-radius: 20px;
    color: white;
    font-size: 2.1rem;
}

.ib-card2 p {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 28px;
    margin-top: 10px;
}

.inclusion-belonging-main-cards-container {
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.inclusion-belonging-main-cards {
    background-color: white;
    border: 0.7px solid gainsboro;
    width: 490px;
    border-radius: 14px;
    padding-bottom: 50px;
    overflow: hidden;
}

.inclusion-belonging-main-cards img {
    height: 40%;
    width: 100%;
    overflow: hidden;
}

.inclusion-belonging-main-cards h1 {
    font-size: 2.5em;
    color: black;
    font-weight: bold;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

.inclusion-belonging-main-cards p {
    font-size: 1.2em;
    color: black;
    font-weight: 400;
    margin-top: 10px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}

.Download-the-report-btn {
    background-color: hsl(271, 100%, 23%);
    height: 60px;
    border-radius: 30px;
    width: 290px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-left: 100px;
}

.read-more-btn {
    background-color: hsl(271, 100%, 23%);
    height: 60px;
    border-radius: 30px;
    width: 200px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-left: 150px;
}

.iandb-btns-container {
    background-color: white;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

.i-and-b-btns {
    background-color: hsl(271, 100%, 23%);
    height: 60px;
    border-radius: 30px;
    width: 200px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.our-politics-heading-container {
    background-color: white;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.7rem;
    color: #21215b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
}

.our-politics-heading-container p {
    font-size: 1.2rem;
    color: #21215b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}


.our-politics-card-container {
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.our-politics-card {
    background-color: white;
    box-shadow: 1px 2px 15px rgb(213, 212, 212);
    width: 340px;
    height: 450px;
    border-radius: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.our-politics-card img {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.our-politics-card h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.our-politics-card p {
    font-size: 1srem;
    font-weight: bold;
    margin-top: 10px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.read-more-btn-our-politics {
    background-color: #4d4deb;
    height: 60px;
    border-radius: 30px;
    width: 200px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    margin-top: 70px;
}

.Wipro-has-benn-globally-recognized-heading-container {
    background-color: white;
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
    color: #21215b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
}

.awards-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.award-card {
  max-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.award-card img {
  width: 120px;
  margin-bottom: 20px;
}

.award-card p {
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  text-align: center;
}

.commitments {
    padding: 60px 80px;
    text-align: center;
}

.commitments h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    letter-spacing: 1px;

}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    background: #ffffff;
    width: 300px;
    padding: 50px 20px;
    border-radius: 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card h2 {
    font-size: 30px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    line-height: 1.3;
}

.card p {
    font-size: 25px;
    color: #1f1e1e;
    line-height: 1.6;
}

.Join-us-today-btn{
    background-color: purple;
    height: 70px;
    width: 250px;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    border-radius: 24px;
    margin-left: 640px;
}