*{
    padding: 0;
    margin: 0;
}

@keyframes slideDown {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.down-btn1,
.down-btn2{
    font-size: 2rem;
    font-weight: 200;
}

.nav {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
    z-index: 99999;
    animation: slideIn 0.5s ease-in-out 0s 1 normal forwards;
   box-shadow: 2px 1px 1px gray;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo {
    height: 69px;
    width: 150px;
}

.logo img {
    height: 100%;
    width: 100%;
    margin-left: 50px;
}

.links {
    display: flex;
    gap: 5px;
    margin-left: 90px;
}

.links button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: grafik-regular, sans-serif;
    margin: 20px;

    &:hover {
        border-bottom: 1px solid white;
        transition: all 0.2s ease-in-out
    }
}

.select-btn{
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
    outline: none;
    font-size: 1.2rem;
;
}

.what-we-do-container {
    height: 600px;
    width: 40%;
    box-shadow: 0px 1px 1px gray;
    background-color: white;
    position: absolute;
    top: -100%;
    left: 20%;
    display: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 999;
    gap: 10px;
}

.what-we-links-container{
   width: 50%; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 10px;
   border-right: 1px solid gray;
}

.what-we-links-container h1{
    font-size: 2rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-left: 6px solid goldenrod;
    margin-left: 20px;
    padding-left: 15px;
}

.what-we-links-container span{
    font-size: 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

.what-we-links-container a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;    
    margin-top: 5px;
    font-weight: 600;
    margin-left: 20px;
}

.about-wipro-container {
    height: 400px;
    width: 50%;
    box-shadow: 0px 1px 1px gray;
    background-color: white;
    position: absolute;
    top: -100%;
    left: 20%;
    display: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 999;
    gap: 10px;
}

.about-wipro-links-container{
   width: 40%; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 10px;
   border-right: 0.6px solid gray;
}

.about-wipro-links-container h1{
    font-size: 2rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-left: 6px solid green;
    margin-left: 20px;
    padding-left: 15px;
}

.about-wipro-links-container span{
    font-size: 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

.about-wipro-links-container a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;    
    margin-top: 5px;
    font-weight: 600;
    margin-left: 20px;
}

